.kaufman {
    padding: 90px 0;
    display: flex;
    position: relative;
    flex-direction: column;
    margin: auto;
    align-items: center;
    background-color: #1f1f1f;
    color: white;
    overflow: hidden;
}