







.feynman {
  min-height: 790px;
  background-color:#f2f2f2;
  padding: 100px 0 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 0;
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;
  width: 648px;
  z-index: 3;
  display: flex;
  margin: 0;
  text-align: center;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 2;
  margin: 70px 0 0;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
  position: absolute;
  right: 48px;
  top: 50%;
  text-decoration: none;
  color: #2f80ed;
}

.feynman__image {
  height: 637px;
  width: 867px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
}

.kaufman {
  padding: 90px 0;
  display: flex;
  position: relative;
  flex-direction: column;
  margin: auto;
  align-items: center;
  background-color: #1f1f1f;
  color: white;
  overflow: hidden;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: 0;
}













.footer {
  box-sizing: border-box;
  min-height: 350px;
  padding: 60px 0 40px;
  display: flex;
  color: white;
  background-color: #1f1f1f;
}

.footer__columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  font-size: 0;
  margin:0 auto;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  justify-content: space-between;
  flex-basis: 711px;
  height: 100%;
}

.footer__column_content_info {

}

.footer__column_content_social {

}



.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-weight: normal;
  font-size: 18px;
}

.footer__column-heading {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  margin: 20px 0 16px;
  padding: 0;
}

.footer__column-link {
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}


.footer__social-icon {
  height: 16px;
  width: 16px;
  margin:0 10px 0 0;
}